[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/patriot/Desktop/Discord.desktop]
row=5
col=18

[/home/patriot/Desktop/Steam.desktop]
row=3
col=18

[/home/patriot/Desktop/Virtual Machine Manager.desktop]
row=6
col=18

[/home/patriot/Desktop/OBS Studio.desktop]
row=4
col=18

[/home/patriot/Desktop/start-tor-browser.desktop]
row=2
col=18

[/home/patriot/Desktop/qutebrowser.desktop]
row=1
col=18

[Trash]
row=0
col=18

